*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: rgb(184, 107, 12);
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    animation: header 2s ease-in-out;

    
}
@keyframes header{
    0%{
        transform: translateX(-100%);

    }

    
}
nav li{
    display: inline-block;
    margin:15px 25px ;
    font-weight: 600;

}
.main{
    width: 100%;
    display: flex;

}
.contant{
    width: 50%;
margin: top 10%;
margin-left: 8%;
animation: contant 2s ease-in-out;

}
@keyframes contant {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    
}
.contant h1{
    font-size: 50px;
    margin-bottom: 5%;
    letter-spacing: 10px;
    
}
.contant h3{
    font-size: 30px;
    margin-bottom: 4%;

}
.contant p{
    font-size: 20px;
    margin-bottom: 5%;

}
button{
    padding: 15px 30px;
    background-color:burlywood;
    font-size: 20px;
border-radius: 20px;

}
button:hover{
    background:mediumslateblue;
}
.image{
    width: 50%;
    margin-top: 10%;
    z-index:-1 ;
}
img{
    width: 40rem;
    animation: car 5s ease-in-out;
}
@keyframes car {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-250%);

    }
    
}
@media screen and (max-width:1200px) {
    .contant{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 100%;
        position:absolute;
        bottom: -5%;
        display: flex;
        justify-content: center;
    }
    img{
        width: 20rem;
    }
    
}
@media screen and (max-width:570px) {
    .contant{
        width: 100%;
        text-align: center;
    }
    .contant h1,h2{
        margin-bottom: 5%;
    }
    .image{
        width: 100%;
        position:absolute;
        bottom: -5%;
        display: flex;
        justify-content: center;
    }
    img{
        width: 30rem;
    }
    
}